<style type="text/css">
.subcateadmin{
	margin-top: 100px;
	text-align: center;
}
</style>
<div class="container-fluid">
	<div class="row logoFluxojojn">
		<div class="col-md-12">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-default botaoSairAreaAdmin" href="#/loginadmin">Voltar</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 subcateadmin">
			<a href="#/subcategoriaAdmin">Subcategorias comuns</a>
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">

		</div>
	</div>
</div>