<style type="text/css">
.formInvest{
	margin-top: 20px;
	text-align: center;
}

.invest{
	width: 20%;
	display: inline-block;
}

.valorInvest{
	width: 10%;
	display: inline-block;
}

.dataInvest{
	width: 15%;
	display: inline-block;
}
.exibeInvestimentos{
	margin-top: 20px;
}
</style>
<div class="container-fluid">
	<div class="row logoFluxojojn">
		<div class="col-md-6">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
		<div class="col-md-3 nomeEmpresa">
			<h4>{{empresa}}</h4>
		</div>
		<div class="col-md-3 nomeUsuario">
			<h4>Olá, {{usuario}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 botaoVoltar">
			<a class="btn btn-default" href="#/inicial">Voltar</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 configTitulo">
			<h3>Investimentos</h3>
		</div>
	</div>
	<div class="row">
		<div class="linksFinanceiros" ng-include="'views/linksFinanceiros.html'"></div>
	</div>
	<div class="row" ng-controller="CadastrarInvestCtrl">
		<div class="col-md-12">
			<form name="formInvestimentos" class="formInvest">
				<input class="form-control dataInvest" type="date" name="data" ng-model="investimento.data" required>
				<input class="form-control invest" type="text" name="invest" ng-model="investimento.invest" 
				placeholder="Investimento" required>
				<input class="form-control valorInvest" type="text" name="valor" ng-model="investimento.valor" placeholder="Valor" required>
				
				<a class="btn btn-success" ng-disabled="formInvestimentos.$invalid" ng-click="salvarInvest(investimento)">Salvar</a>
			</form>
		</div>
		<div class="row">
			<div class="col-md-12 exibeInvestimentos">
				<table align="center" class="table-striped">
					<thead>
						<tr>
							<td align="center" width="150" align="center"><b>Data</b></td>
							<td align="center" width="150"><b>Invetimento</b></td>
							<td align="center" width="100"><b>Valor</b></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="invest in investimentos">
							<td align="center">{{invest.data}}</td>
							<td align="left">{{invest.investimento}}</td>
							<td align="right">{{invest.valor}}</td>
							<td width="50" align="right"><a class="btn btn-sm btn-warning" href="#/editarInvestimento/{{invest.idinvestimento}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
							<td width="10"></td>
							<td align="right"><a class="btn btn-sm btn-danger" href=""><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div
		</div>
	</div>


</div>



