<style type="text/css">

</style>
<div class="container-fluid">
	<div class="row logoFluxojojn">
		<div class="col-md-6">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
		<div class="col-md-3 nomeEmpresa">
			<h4>{{empresa}}</h4>
		</div>
		<div class="col-md-3 nomeUsuario">
			<h4>Olá, {{usuario}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 botaoVoltar">
			<a class="btn btn-default" href="#/inicial">Voltar</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 configTitulo">
			<h3>Área de Investimentos</h3>
		</div>
	</div>
	<div class="row">
		<div class="linksFinanceiros" ng-include="'views/linksFinanceiros.html'"></div>
	</div>
	
	


</div>



