<style type="text/css">
.linksFinanceiros{
	text-align: center;
}

.bensImoveis, .bensImoveis, .invest, .pagamentosDiversos, .operacoesFinanceiras, .operacoesAutoliquidez{
	margin-left: 2%;
	margin-right: 2%;
}

</style>
<div class="row">
	<div class="col-md-12">
		<a href="#/bensImoveis" class="bensImoveis">Depreciação de Bens</a>
		<a href="#/invest" class="invest">Investimentos</a>
		<a href="#/pagamentosDiversos" class="pagamentosDiversos">Pagamentos Diversos</a>
		<a href="#/operacoesFinanceiras" class="operacoesFinanceiras">Operações Financeiras</a>
		<a href="#/operacoesAutoliquidez" class="operacoesAutoliquidez">Operações de Autoliquidez</a>
		</ul>
	</div>
</div>