<div class="row">
	<div class="col-md-12 links">
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="#/inicial">início</a></li>
		  <li role="presentation"><a href="#/entradas">entradas</a></li>
		  <li role="presentation"><a href="#/saidas">saídas</a></li>
		  <li role="presentation"><a href="#/saldos">saldos</a></li>
		  <li role="presentation"><a href="#relatorios">relatórios</a></li>
		  <li role="presentation"><a href="#produtos">produtos</a></li>
		  <li role="presentation"><a href="#/investimentos">investimentos</a></li>
		  <li role="presentation"><a href="#/importacao">importação</a></li>
		  <li role="presentation"><a href="#/configuracoes">configurações</a></li>
		  <li role="presentation"><a href="#/" ng-click="sair()">sair</a></li>
		</ul>
	</div>
</div>