<style type="text/css">
	
</style>
<div class="container-fluid">
	<div class="row logoFluxojojn">
		<div class="col-md-12">
			<div class="fluxojoin"><img src="imgs/fluxojoin.png"></div>
		</div>
	</div>
	<div class="row" ng-controller="LoginAdminCtrl">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<form class="form-signin formAdmin">
				<label>E-mail</label>
				<div>
					<input class="form-control adminEmail" type="email" ng-model="admin.email">
				</div>
				<label>Senha</label>
				<div>
					<input class="form-control adminSenha" type="password" ng-model="admin.senha">
				</div>
				<button class="btn btn-success botaoEntrarAdmin" ng-click="logarAdmin(admin)">Entrar</button>
				<a class="btn btn-default botaoVoltarAdmin" href="#/">Voltar</a>
				<div>{{erroLoginAdmin}}</div>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>